@model TaskManagementSystem.ViewModels.ProjectTaskEditableViewModel

@{
    ViewData["Title"] = "CreateProjectTask";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create Project Task</h1>

<h4>Create a new task in a project</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="TaskId" class="control-label"></label>
                <input asp-for="TaskId" class="form-control" />
                <span asp-validation-for="TaskId" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Name" class="control-label">Task Name</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
                <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                @Html.DropDownListFor(m=>m.SelectedTaskStatus , Model.TaskStatusesList, "Select Task Status",new{@class="form-control"})
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
             
            <div class="form-group">
                <label asp-for="StartDate" class="control-label">Start Date</label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="ProjectId" class="control-label">Project Name</label>
                <select asp-for="ProjectId" class="form-select" />
                <option>-Select Project Name-</option>
                @foreach (var obj in Model.ProjectList)
                {
                            <option value="@obj.ProjectId">@obj.Title</option>
                }
                </select>
               <span asp-validation-for="ProjectId" class="text-danger"></span>
            </div>
                @*<div class="form-group">
                <label asp-for="Reporter" class="control-label"></label>
                <input asp-for="Reporter" class="form-control" />
                <span asp-validation-for="Reporter" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Reporter" class="control-label"></label>
                <select asp-for="Reporter" class="form-select" />
               @* <option>-Select Reporter-</option>*@
                @foreach (var obj in Model.EmployeeList)
                {
                                    <option value="@obj.EmployeeId">@obj.Name</option>
                }
                </select>
                <span asp-validation-for="Reporter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Assignee" class="control-label"></label>
                <select asp-for="Assignee" class="form-select" />
                <option>-Select Assignee-</option>
                @foreach (var obj in Model.EmployeeList)
                {
                                <option value="@obj.EmployeeId">@obj.Name</option>
                }
                </select>
                <span asp-validation-for="Assignee" class="text-danger"></span>
            </div>
                <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
