@model TaskManagementSystem.ViewModels.ProjectTaskViewModel

@{
    ViewData["Title"] = "ProjectTaskDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Project Task Details</h1>

<div>
   @* <h4>ProjectTask</h4>*@
       <hr />
    <dl class="row">
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaskId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaskId)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayName("Task Name")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Start Date")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        @*</dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectId)
        </dd>*@
        @* <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reporter)
        </dt>*@
       @* <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reporter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Assignee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Assignee)
        </dd>*@
        <dt class = "col-sm-2">
           @* @Html.DisplayNameFor(model => model.ProjectName)*@
                @Html.DisplayName("Project Name")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectName)
        </dd>
        <dt class = "col-sm-2">
                @Html.DisplayName("Reporter")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReporterName)
        </dd>
        <dt class = "col-sm-2">
                @Html.DisplayName("Assignee")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssigneeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comments)
        </dt>
        <dd class = "col-sm-10">
                @Html.TextAreaFor(model => model.Comments, new { Class="commentTextArea" })
        </dd>
        </select>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TaskId }) |
    <a asp-action="Index">Back to List</a>
</div>
